needle-engine {
    position: fixed;
    top: 0;
}

.section {
    height: 800px;
    font-size: 1em;
}

.section.double {
    height: 1600px;
}

.sticky-section {
    position: sticky;
    top: 5vw;
    margin-left: 5vw;
}

.sticky-section {
    opacity: 0;
    transition: opacity 0.3s;
}

.sticky-section.is-visible {
    opacity: 1;
}

h2,
p {
    text-shadow: white 0 0 30px;
}

h2 {
    margin-bottom: 0;
}

p {
    margin-top: 0.7em;
    margin-bottom: 1.2em;
}

a {
    background: black;
    border: 1px solid grey;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: 0.4em;
    padding: 8px;
    font-size: 0.7em;
}

a:hover {
    background: white;
    color: black;
    font-weight: bolder;
}