.menu {
    position: absolute;
    left: 20vw;
    top: 25vh;
    z-index: 1;
}

.menu button {
    font-size: 2em;
    color: white;
    opacity: 0.5;
    transition: opacity 0.5s;
    background:none;
    border: none;
    color: white;
}

.menu button img {
    height: 60px;
}

.menu button:hover {  
    opacity: 1;
}

.vr-button, .ar-button {
    position: relative;
    margin-right: 50px;
}

.not-supported::after {
    content: url('../../include/Slash.png');
    position: absolute;
    left:-38px;
    top: -5px;
}