@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    height: -webkit-fill-available;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: 'Roboto', sans-serif;
    background: black;
}

needle-engine {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

needle-engine canvas {
    position: absolute;
}

/* important to enable pointer events on overlay content entries by default again
currently the overlay code does disable pointer events so that when adding content
the threejs dom still receives events */
needle-engine .ar>*,
needle-engine .vr>*,
needle-engine .desktop>* {
    pointer-events: auto !important;
}

needle-engine .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color: white;
}

needle-engine .webxr-buttons {
    position: fixed;
    /* border: red 2px solid; */
    bottom: 21px;
    left: 50%;
    transform: translate(-50%, 0%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

needle-engine .webxr-button:disabled {
    transform: none;
    opacity: 0.5 !important;
    /* display: none; */
}

/* presentation */
needle-engine.presentation-mode .hide-in-presentation {
    display: none !important;
}

.controls-wrapper {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 50px;
}

#interact, button {
    border: 0;
    border-radius: 8px;
    background-image: linear-gradient(144deg,#4099ff, #5B42F3 50%,#00DDEB);
    box-shadow: rgba(81, 65, 252, 0.34) 0 15px 30px -5px;
    box-sizing: border-box;
    outline: 10px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    filter: brightness(100%);
    overflow: hidden;

    transition: filter 0.15s ease-in-out;
    cursor: pointer;
}

#interact:hover {
    filter: brightness(110%);
}

#interact:active {
    filter: brightness(90%);
}